<!--this is the tab template that will appear at the bottom of each view-->
<ion-tabs class="tabs-icon-top tabs-color-active-light">
  <!-- Dashboard Tab -->
  <ion-tab class="brandColor" title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline"
  href="#/tab/dash"><ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <!-- Convert Calculator Tab -->
  <ion-tab class="brandColor" title="Convert" icon-on="ion-ios-medical" icon-off="ion-ios-medical-outline"
  href="#/tab/convert"><ion-nav-view name="tab-convert"></ion-nav-view>
  </ion-tab>
  <!-- Live Weather tab -->
  <!-- <ion-tab class="brandColor" title="Weather" icon-on="ion-ios-partlysunny" icon-off="ion-ios-partlysunny-outline"
  href="#/tab/weather"><ion-nav-view name="tab-weather"></ion-nav-view>
  </ion-tab> -->
  <!-- Settings Tab -->
  <ion-tab class="brandColor" title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline"
  href="#/tab/account"><ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
