<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.converter910723" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>converter</name>
  <description>
        Hybrid Currency Conversion App
    </description>
  <author email="c.b.eaton@edu.salford.ac.uk" href="http://salford.ac.uk/">
      Chris Eaton
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
